body {
  background: #f7f7fa;
}

.login-container {
  margin: 80px auto;
  padding: 32px;
  width: 350px;
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 2px 16px #0001;
  text-align: center;
}

.login-container form input,
.login-container form button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}