body, .main-bg {
  background: #f7f7fa;
  min-height: 100vh;
  margin: 0;
}

/* Barra azul superior */
.topbar {
  background-color: #1664c1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-right {
  margin-right: 24px;
}

.user-icon {
  font-size: 2rem;
  color: #fff;
}

.login-content {
  margin: 40px auto 0 auto;
  background: #fff;
  padding: 32px 24px;
  width: 350px;
  border-radius: 22px;
  box-shadow: 0 2px 16px #0001;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  width: 160px;
  margin-bottom: 18px;
}

.login-content h2 {
  font-family: sans-serif;
  margin-bottom: 22px;
  margin-top: 0;
  font-size: 1.6rem;
}

.login-form input,
.login-form button {
  margin: 10px 0;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.login-form button {
  background: #1664c1;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.login-form input:focus {
  border: 1.5px solid #1664c1;
  outline: none;
}